{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="">
        <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="container-fluid">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-sm-12 bg-cover"
                                    style="background-image: url('/static/img/c2.jpg'); min-height:300px;">
                                </div>
                            
                                <div class="col-lg-8">
                                    <div>
                                        {% if messages %}
                                        <div class="alert alert-success py-2" role="alert">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                                {{ message }}
                                            </li>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <form method="post" action="" class="p-lg-5 col-12 row g-3">
                                        {% csrf_token %}
                                        <div>
    
                                            <h1>Rester En Contact</h1>
                                        <p>N'hésitez pas à nous contacter et nous vous répondrons dans les plus brefs délais</p>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="userName" class="form-label">Nom Complet</label>
                                            <input type="text" name="nom" class="form-control border" placeholder="Nom & Prenom" id="userName"
                                                aria-describedby="emailHelp">
                                        </div>
    
                                        <div class="col-12">
                                            <label for="Téléphone" class="form-label">Téléphone</label>
                                            <input type="text" name="tele" class="form-control border" placeholder="+2126 87 85 16 84" id="Téléphone" >
                                        </div>
    
                                        <div class="col-12">
                                            <label for="exampleInputEmail1" class="form-label">Message</label>
                                            <textarea name="message" placeholder="message" class="form-control" id=""  rows="4"></textarea>
                                        </div>
    
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-warning border">Envoyer le message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    </div>
</div>

{% endblock content %}


