{% load static %}
<footer class="text-center text-lg-start bg-white text-muted">
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <a href="#home"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <p>
              Mon Eco Brico à votre service
            </p>
          </div>
      
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 text-center">
            Réseaux sociaux
            </h6>
            <div class="social-icons text-center mb-3">
              <a href="https://www.facebook.com/monecobrico"><i class='bx bxl-facebook'></i></a>
              <a href="https://instagram.com/decoration._.2022?igshid=YmMyMTA2M2Y="><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="social-icons text-center mb-3">
              <a href="https://www.pinterest.com/monecobrico/"><i class='bx bxl-pinterest'></i></a>
              <a href="https://www.linkedin.com/in/mon-eco-brico-a5a805254/"><i class='bx bxl-linkedin'></i></a>
            </div>
            <div class="social-icons text-center mb-3">
              <a href="https://www.youtube.com/channel/UCSB7JUUlvWfWlL7ID2kgTMQ/featured"><i class='bx bxl-youtube'></i></a>
              <a href="https://www.tiktok.com/@monecobrico?lang=fr"><i class='bx bxl-tiktok'></i></a>
            </div>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
            <h6 class="text-uppercase fw-bold mb-4">
            LIENS UTILES
            </h6>
            <p>
              <a href="{% url 'index' %}" class="text-decoration-none">Accueil</a>
            </p>
            <p>
              <a class="text-decoration-none" href="#principes">Principes</a>
            </p>
            <p>
              <a class="text-decoration-none" href="#services">Services</a>
            </p>
            <p>
              <a class="text-decoration-none" href="#reviews">Commentaires</a>
            </p>
            <p>
              <a class="text-decoration-none" href="#milestone2">Stratégie</a>
            </p>
            <p>
              <a style="font-family: 'Mansalva', cursive;font-weight: lighter;line-height: 1.7;" class="text-decoration-none" id="FontBlog" href="#blog">Blog</a>
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i>   </p>
              <p><i class="fas fa-envelope me-3 text-secondary"></i>MonEcoBrico@gmail.com</p>
              <p><i class="fas fa-phone me-3 text-secondary"></i>  +212 6 97-704993</p>
              <!-- <p><i class="fas fa-print me-3 text-secondary"></i> +212 6 87 85 16 84</p> -->
          </div>
  
      </div>
    </section>
  </footer>
  
  <div class="buttom-nav">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-auto">
                      <p style="font-weight: lighter;"> <i class=''></i> Copyright © 2022  - MON ECO BRICO </p>
                      <p> <i class=''></i> </p>
                  </div>
                  <div class="col-auto social-icons">
                     
                  <div class="col-auto social-icons text-center">
                      <p style="font-weight: lighter;">Created by</p>
                      <a href="https://github.com/Akarid-abde"><i class='bx bxl-github'></i></a>
                  </div>
  
                  </div>
              </div>
          </div>
  </div>

  